<!DOCTYPE html>
<html lang="en">
     <head>
           <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
            <meta name="description" content="">
            <meta name="author" content="">
            <title>Bootstrap</title>
            <link rel="stylesheet" media="screen" href="css/bootstrap.min.css">
            <link rel="stylesheet" media="screen"  href="css/bootstrap-theme.min.css">
            <link rel="stylrsheet" media="screen" href="css/myweb.css">
            <link rel="icon" href="">
            <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
            <script type="text/javascript" src="js/bootstrap.min.js"></script>
            
     </head>
     <body>
         <div class="row">
               
               
                <div class="col-xs-2 col-sm-2 col-md-2 ">
                </div>
               
               
                <div class="col-xs-8 col-sm-8 col-md-8">
                     <form class="form-horizontal">
                           <h3>THÔNG TIN QUẢNG CÁO:</h3>
                  
                           <div class="form-group">
                                  <label for="Tieu de" class="col-xs-2 col-sm-2 col-md-2 control-label">Tiêu đề:</label>
                                  <div class="col-xs-6 col-sm-6 col-md-6">
                                           <input type="text" class="form-control" id="TD" placeholder="Enter tiêu đề">
                                  </div><!--end col-md-6-->
                           </div><!--end from-group-->
                  
                           <div class="form-group">
                                  <label for="Anh " class="col-xs-2 col-sm-2 col-md-2 control-label">Hình ảnh :</label> 
                                  <div class="col-xs-6 col-sm-6 col-md-6">
                                            <input type="file" class="form-control" id="fileResume" placeholder="Enter hình ảnh">
                                  </div><!--end col-md-6-->
                           </div><!--end from-group-->
      
                          <div class="form-group">
                          <label for="link" class="col-xs-2 col-sm-2 col-md-2 control-label">Đường dẫn:</label> 
                                  <div class="col-xs-6 col-sm-6 col-md-6">
                                          <p style="color:lightgoldyellow;"><small>Ví dụ: http://saghdjskdaskd</small></p>
                                          <input type="url" class="form-control" id="Link" placeholder="Enter đường dẫn">
                                  </div><!--end col-md-6-->
                           </div><!--end from-group-->
                         
                           <div class="form-group">
                           <label for="Mo ta" class="col-xs-2 col-sm-2 col-md-2 control-label">Mô tả ngắn:</label>  
                                  <div class="col-xs-6 col-sm-6 col-md-6">
                                            <textarea  class="form-control" id="mo ta " rows="5" >
                                           </textarea>
                                   </div>
                           </div><!--end from-group-->
                  
                           <div class="form-group">
                                 <div class="col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-xs-6 col-sm-6 col-md-6">
                                 <div class="checkbox">
                                       <label><input type="checkbox">Nhắc nhở tôi</label>
                                 </div><!--end checkbox-->
                                 </div><!--end col-md-offset-2-->
                          </div><!--end from-group-->
                    
                          <div class="form-group">
                          <div class="col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-xs-6 col-sm-6 col-md-6">
                                 <button type="button" class="btn btn-default" onclick="myFunction2()">Lưu </button>
                                 <br>
                                 <br>
                                 <p id="demo2" style="color:red;font-size:20px;"></p>
                          </div><!--end col-md-offset-2-->
                          </div><!--end from-group-->
                   
                  </form><!--end form-horizontal-->
                </div>
               
               
                <div class="col-xs-2 col-sm-2 col-md-2 ">
                </div>
           </div><!--end class row-->
         
         <script> 
             function myFunction2(){
                   var x,text;
                   x = document.getElementById("TD").value;
                   if(!isNaN(x)){
                        text="Vui lòng nhập lại tiêu đề";
                    }
                    
                    document.getElementById("demo2").innerHTML = text;
               }
         </script>
         
     </body>
</html>